#media{
    max-width: 720px;
    display: none;
}
#stop{
    display: none
}

#main{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
button {
    padding: 8px 16px;
}

pre {
    overflow-x: hidden;
    overflow-y: auto;
}

video {
    width: 100%;
}